/* font import */
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Sora&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Sora', sans-serif;
}

img {
    -webkit-user-drag: none;
    pointer-events: none;
    /* Disable right-clicking */
    /* user-drag: none; */
}

::-webkit-scrollbar {
    display: none;
}

.text-outline {
    /* -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: currentColor;
    -webkit-text-stroke-width: .012em; */
    color: black;
    text-shadow: -2px 0 1px #fff, 0 2px 1px #fff, 2px 0 1px #fff, 0 -2px 1px #fff;
}